# Environment & secrets
.env
.venv/

# Python
__pycache__/
*.pyc

# Data
data/raw/
data/generated/

# Hadoop downloaded archive
docker/hadoop/hadoop-3.3.6.tar.gz

# Jupyter temporary files
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Hadoop/Spark temporary files
**/.Trash-*/

# Local / temporary files
docs/arcticture/.$Arcticture.drawio.bkp
docs/arcticture/Arcticture.drawio
zone_test.csv
docker/spark/notebooks/Untitled.ipynb